#myVideo {
  position: relative;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  z-index: -1;
}

html {
  background-color: #eee;
  font-size: 16px;
  font-family: sans-serif;
  color: #111;
}

nav {
  display: block;
  height: 5rem;
  margin-bottom: 4rem;
}

nav > a > img {
  display: block;
  float:left;
  margin: 2.5rem 0rem 2.5rem 2.5rem;
  width: 15%;
}

.navButtons {
  display: inline-block;
  float: right;
  margin: 3.75rem 2.5rem 2.5rem 0rem;
  font-size: 1rem;
  line-height: 1rem;
}

.navButtons > a {
  margin-right: 1.25rem;
  font-weight: 500;
}

.navButtons > a:visited {
  color: #111;
}


body {
  margin: 0px;
}

section {
  display: block;
  margin: 2rem;
}

.allStuff {
  display: block;
  margin: 0 auto;
  padding: 0rem 4rem 0rem 4rem;
}

.pageIntro {
  /* border-top: 1px rgba(255, 255, 255, 0.5) solid; */
  margin: 1rem auto 1rem;
  display: block;
  width: 50%;
}

.pageIntro > p {
  text-align: left;
}

#textLink {
  color: blue;
  text-decoration: underline;
}

.allStuff > a {
  display: block;
  margin: 1rem auto 1rem;
  text-decoration: none;
}

a:hover {
  color: #63C084;
  text-decoration: underline;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}

a:-webkit-any-link:hover {
    color: #63C084;
    cursor: pointer;
    text-decoration: underline;
    background-color: #F6FBF8;
}

.sideBySide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0rem;
}


.sideBySide > a {
  margin: 2rem;
}

label {
  display: block;
  margin: 2rem auto 1rem;
  text-align: center;
  font-weight: medium;
  font-size: 1rem;
  text-decoration: none;
  font-variant: normal;
  color: #111;
  text-decoration: none;
}

label:hover {
  color: #63C084;
}

.bigPictureButton {
  padding: .25rem 0rem;
}

.bigPictureButton > img {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 1rem 4rem 4rem 4rem;
}

.sidePictureButton > img {
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 0rem;
}


h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 2em 0rem 0rem 0rem;
}

p {
  font-size: 1.25rem;
  text-align: center;
}

.workoutList {
  margin-top: 1rem;
}

.workoutList > p {
  display: inline-block;
  text-decoration: none;
  margin: 1rem 0rem 1rem 0rem;
}

.workoutList > p:visited {
  color: #111;
  text-decoration: none;
}

.workoutList > a {
  text-decoration: none;
}

.workoutList > a:visited {
  text-decoration: none;
  color: #111;
}

.drillPart {
  margin-top: 4rem;
}

.amountName {
  font-weight: bold;
}

.finePrint {
  display: block;
  font-size: .75rem;
  line-height: .5rem;
  font-weight: 100;
}

.workoutList {
  text-align: center;
}

@media (max-width: 500px){

  #myVideo {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

  section {
    display: block;
    margin: 2rem;
  }

  .pageIntro {
    /* border-top: 1px rgba(255, 255, 255, 0.5) solid; */
    margin: 6rem auto 2rem;
    display: block;
    width: 85%;
  }

  h1 {
    font-size: 1.5rem;
  }

  .bigPictureButton > img {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 0rem;
  }

  nav > img {
    display: block;
    margin: 0rem auto;
    width: 85%;
    float: none;
  }

  nav {
    display: block;
    height: 16rem;
    margin-bottom: 4rem;
  }

  nav > a > img {
    display: block;
    margin: 0 auto;
    width: 50%;
    float: none;
  }


  .navButtons {
    display: block;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;
    float: none;
    margin: 0rem;
    text-decoration: underline;
  }

  label {
    margin-top: 4rem;
  }

  .navButtons > a {
    margin-right: 0rem;
    font-weight: 500;
  }

  a {
    display: block;
    margin: 2rem auto 3rem;
    text-decoration: none;
  }

  .allStuff {
    padding: 1rem;
  }

  .sideBySide {
    display: block;
    padding: 0rem;
  }

  .bigPictureButton > img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }

}
