html {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Serif;
}

body {
    display: block;
    margin: 0px;
}

p {
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.mastHead {
  background: #111;
  color: rgba(255,255,255,.54);
  text-align: center;
  padding-top: 2rem;
  font-size: .75rem;
}

.ochoHeader {
  background-color: #111;
  color: white;
}

.ochoHeader img {
  display: block;
  margin: 0 auto;
  max-width: 25rem;
}

.ochoHeader p {
  text-align: center;
  margin: 0rem 10rem;
  padding: 0rem 0rem 5rem 0rem;
  display: block;
  position: relative;
  font-size: 1.5rem;
}

.trioBreakdown {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  flex-wrap: nowrap;
  text-align: center;

  border-bottom: 30rem solid #111;
}

.trioBreakdown div {
  width: 33.33%;
  padding: 6rem 3rem 8rem 3rem;
}

.trioBreakdown div > img {
  margin-bottom: 1rem;
  max-width: 12rem;
}

.leftThird {
  background-color: #007f00;
  color: white;
}

.middleThird {
  background-color: #00417c;
  color: white;
}

.rightThird {
  background-color: #7c0018;
  color: white;
}

.overview {
  width: 100%;
  padding: 2rem 0rem 2rem 0rem;
  color: white;
}

.overview > p {
  padding: 0rem 24rem 0rem 2rem;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 5rem;
}

.overview > h2 {
  padding: 0rem 8rem 0rem 2rem;
  font-weight: 300;
  font-size: 1.75rem;
}

.overview > h1 {
  padding: 0rem 0rem 4rem 2rem;
  color: rgba(255,255,255,0.54);
  font-size: 1rem;
  text-align: center;
}

.overview a {
  background-color: white;
  color: rgba(0, 0, 0, 0.87);
  text-align: center;
  padding: 2rem;
  margin: 0 auto;
  display: block;
  max-width: 10rem;
  border-radius: .5rem;
  border-bottom: rgba(255, 255, 255, 0.24);
}

.overview a:hover {
  border-radius: .35rem;
  border-bottom: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-weight: bold;
}
.overview img {
  display: block;
  position: relative;
  margin: 0 auto 2rem;
}

.pbgOverview {
  background-color: #007f00;
}

.esOverview {
  background-color: #00417c;
}

.sosOverview {
  background-color: #7c0018;
}
