html {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Serif;
}

body {
  background-color: white;
  color: #191919;
  margin: 0px;
}

.blog {
  background-color: yellow;
  color: black;
  font-family: serif;
  font-weight: bold;
  padding: 3rem 0rem 3rem 10rem;
}

.blog:hover {
  background-color: #FEFF84;
}

.bottom {
  background-color: #eee;
  border-bottom: 3px solid #ccc;
  padding: 12rem 4rem;
  text-align: center;
  margin-top: 8rem;
}

/* .gallery > img {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .08)
}

.preShadow {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .0)
} */

.reading {
  font-size: 20px;
  font-variant: normal;
  line-height: 26px;
}

.reading::first-letter {
  font-weight: bold;
  font-size: 20.5px;
  line-height: 27px;
}

.signatures {
  margin-bottom: 2.5rem;
}

#dietpage {
  padding: 25rem;
}

.blog a {
  font-variant: normal;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.xxx {
  padding: 10rem;
  display: block;
  border-top: solid 220px #191919;
}

.xxx:hover {
    border-top: solid 250px #333333;

}

.coreText {
  font-size: 150px;
  line-height: 156px;
  text-overflow: clip;
  font-weight: 420;
  margin: 0px;
}

nav>img {
  margin: 0 auto;
  padding: 16rem;
  max-width: 100px;
  display: block;
}

.description {
  margin-top: 4rem;
}

.basics {
  padding: 5rem 0rem 0rem;
}

.gallery {
  display: block;
}

.gallery > img {
  margin: 0 auto;
  display: block;
  max-width: 80%;
  position: relative;
  margin-top: 4rem;
}

.gallery > .description {
  text-align: center;
}

.email {
  color: blue;
}


/*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*/

@media (max-width: 480px){
  .xxx {
    padding: .5rem;
    display: block;
    border-top: solid 220px #191919;
  }

  .blog {
    padding: .5rem;
  }

  #dietpage {
    padding: 2.5rem;
  }



  .coreText {
    margin-top: 20rem;
    font-size: 48px;
    line-height: 56px;
    font-weight: 500;
  }
