html {
  font-size: 18px;
  font-family: "Helvetica Neue", Helvetica, Serif;
}

body {
  background-color: white;
  color: #191919;
  margin: 0px;
}

#draft {
  font-size: 14px;
  width: 80%;
  display: block;

}

#twoRow img {
 width: 340px;
}

.duoDiet img {
  width: 200px;
  display: inline-block;
  margin: 0 auto;
}

p {
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.weekend {
  text-align: center;
  padding: 4rem 16rem;
  /* border-top: 224px solid yellow; */
}

.clear {
  margin: 2rem auto;
  color: white;
}

.clear > input {
  color: white;
  padding: 1rem 2rem;
  background-color: blue;
  font-size: .75rem;
}

.mc-field-group {
  background-color: rgba(255,255,0,.34);
  padding: 2rem;
}

.mc-field-group > input {
  border: 1px solid rgba(0,0,0,.24);
  margin: 1rem 0rem 0rem 1rem;
  height: 1rem;
  width: 12rem;
  padding: .5rem;
  font-size: .75rem;
}

.mc-field-group > input:hover {
  border: 1px solid rgba(0,0,0,.74);
}

h4 {
  /* font-size: 12px; */
  font-weight: 400;
  text-align: left;
}

h5 {
  font-style: italic;
  font-weight: normal;
}

#hero {
  width: 100%;
}

video {
  margin: 0 auto;
}

.blog a {
  text-align: right;
}

.blog a:hover {
  text-decoration: underline;
  color: #3a3a3a;
}

.mixes a {
  display: block;
  text-decoration: none;
  font-variant: normal;
  font-style: normal;
  padding: 9rem;
  text-align: center;
  color: white;
  border-top: 2px solid rgba(0, 0, 0, 0.14);
}

.musicButton {
  color: blue;
}

.backHome {
  text-align: center;
  padding: 3rem 1rem 0rem 3rem;
  background-color: black;
  color: yellow;
}

.top {
  height: 200px;
  text-align: center;
  margin: 0 auto;
  line-height: 200px;
  color: #ccc;
}

.mixes a:visited {
  display: block;
  text-decoration: none;
  font-variant: normal;
  font-style: normal;
  padding: 9rem;
  text-align: center;
  color: white;

}

.mixes a:hover {
  padding: 9rem;
  color: blue;
}

.mixes :nth-child(1) {
  background-color: #00aabb;
}
.mixes :nth-child(2) {
  background-color: #333000;
}
.mixes :nth-child(3) {
  background-color: #121212;
}
.mixes :nth-child(4) {
  background-color: #1144aa;
}
.mixes :nth-child(5) {
  background-color: #111;
}
.mixes :nth-child(6) {
  background-color: #1aa;
}
.mixes :nth-child(7) {
  background-color: red;
}
.mixes :nth-child(8) {
  background-color: blue;
}
.mixes :nth-child(9) {
  background-color: purple;
}
.mixes :nth-child(10) {
  background-color: #000011;
}
.mixes :nth-child(11) {
  background-color: #9999cc;
}
.mixes :nth-child(12) {
  background-color: #111888;
}
.mixes :nth-child(13) {
  background-color: #777aaa;
}
.mixes :nth-child(14) {
  background-color: #666aaa;
}
.mixes :nth-child(15) {
  background-color: #111bbb;
}
.mixes :nth-child(16) {
  background-color: #bbbaaa;
}
.mixes :nth-child(17) {
  background-color:#121212;
}
.mixes :nth-child(18) {
  background-color: #1567aa;
}
.mixes :nth-child(19) {
  background-color: #aaa278;
}
.mixes :nth-child(20) {
  background-color: #666aaa;
}
.mixes :nth-child(21) {
  background-color: #898aaa;
}
.mixes :nth-child(22) {
  background-color: #aaabbb;
}
.mixes :nth-child(23) {
  background-color: #676767;
}
.mixes :nth-child(24) {
  background-color: #333333;
}
.mixes :nth-child(25) {
  background-color: #123124;
}
.mixes :nth-child(26) {
  background-color: #111999;
}
.mixes :nth-child(27) {
  background-color: #999000;
}
.mixes :nth-child(28) {
  background-color: green;
}
.mixes :nth-child(29) {
  background-color: blue;
}
.mixes :nth-child(30) {
  background-color: lavender;
}
.mixes :nth-child(31) {
  background-color: #445566;
}
.mixes :nth-child(32) {
  background-color: #112233;
}
.mixes :nth-child(33) {
  background-color: #990011;
}
.mixes :nth-child(34) {
  background-color: #441166;
}
.mixes :nth-child(35) {
  background-color: #667711;
}
.mixes :nth-child(36) {
  background-color: #110011;
}
.mixes :nth-child(37) {
  background-color: #155511;
}
.mixes :nth-child(38) {
  background-color: #aabbcc;
}
.mixes :nth-child(39) {
  background-color: #eeaa11;
}
.mixes :nth-child(40) {
  background-color: #00aa99;
}
.mixes :nth-child(41) {
  background-color: #55bb00;
}
.mixes :nth-child(42) {
  background-color: black;
}
/* .mixes :nth-child(43) {
  background-color: black;
}
.mixes :nth-child(44) {
  background-color: black;
}
.mixes :nth-child(45) {
  background-color: black;
}
.mixes :nth-child(46) {
  background-color: black;
}
.mixes :nth-child(47) {
  background-color: black;
}
.mixes :nth-child(48) {
  background-color: black;
}
.mixes :nth-child(49) {
  background-color: black;
}
.mixes :nth-child(50) {
  background-color: black;
}
.mixes :nth-child(51) {
  background-color: black;
} */


.nonWritingYears {
  text-align: center;
}

.nonWritingYears p {
  padding: 4rem;
  background-color: #eee;

}

.blog {
  background-color: rgba(255,255,0,.34);
  color: black;
  font-family: serif;
  font-weight: bold;
  padding: 3rem 10rem 3rem 3rem;
  text-align: right;
}

.bottom {
  background-color: #eee;
  border-bottom: 3px solid #ccc;
  padding: 12rem 4rem;
  text-align: center;
  margin-top: 8rem;
}

/* .gallery > img {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .08)
}

.preShadow {
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .0)
} */

.reading {
  font-size: 20px;
  font-variant: normal;
  line-height: 26px;
}

.reading::first-letter {
  font-weight: bold;
  font-size: 20.5px;
  line-height: 27px;
}

.signatures {
  margin-bottom: 2.5rem;
}

#dietpage {
  padding: 15rem 25rem;
}

h3 {
  margin-top: 0;
  padding-top: 10rem;
  font-family: serif;
  font-weight: 600;

}

.duoDiet div {
  margin-top: 4rem;
}

.duoDiet a {
  color: blue;
}

.duoDiet {
  padding: 0rem 20rem 10rem 20rem;
  font-size: 1.9rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fafafa;
}

.blog a {
  font-variant: normal;
  font-style: normal;
  text-decoration: none;
  color: black;
}

.blog p {
  margin-top: 1.5rem;
}

.xxx {
  padding: 0rem;
  display: block;
  border-top: solid 250px #333333;
}

#coreText {
  padding: 5rem 10rem 5rem 10rem;
}

#basics {
  padding: 5rem 24rem 10rem 10rem;
  font-size: 1.75rem;
}

.xxx:hover {
    border-top: solid 255px #333333;

}

#coreText {
  font-size: 150px;
  text-overflow: clip;
  font-weight: 420;
  margin: 0px;
}

nav>img {
  margin: 0 auto;
  padding: 16rem;
  max-width: 100px;
  display: block;
}

.description {
  margin-bottom: 4rem;
}

.description:hover {
  background-color: rgba(255,255,0,.34);
}

.businessName {
  font-weight: bold;
  margin-bottom: 0rem;
}

.gallery {
  display: block;
  background-color: #fafafa;
  padding: 1rem;
}

.gallery > img {
  margin: 0 auto;
  display: block;
  max-width: 80%;
  position: relative;
  margin-top: 4rem;
}

.gallery > video {
  margin: 0 auto;
  display: block;
  max-width: 80%;
  position: relative;
  margin-top: 4rem;
}

.gallery > .description {
  text-align: center;
}

.email {
  color: blue;
}



/*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*//*mobile styles*/

@media (max-width: 480px){

  .html {
    font-size: 14px;
  }

  .weekend {
    text-align: center;
    padding: 4rem 2rem;
  }

  #coreText {
    padding: 1rem;
  }

  #basics {
    padding: 1rem;
    font-size: 1.75rem;
  }

  .description {
    font-size: 1.25rem;
  }

  .businessName {
    font-size: 1.25rem;
  }

  h2 {
    font-size: 16px;
  }

  h4 {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
  }

  .mc-field-group > input {
    border: 1px solid rgba(0,0,0,.24);
    margin: 1rem 0rem;
    height: 2rem;
    width: 12rem;
  }

  .xxx {
    display: block;
    border-top: solid 220px #191919;
  }

  .mc-field-group > input:hover {
    border: 1px solid rgba(0,0,0,.74);
  }

  .duoDiet img {
    width: 140px;
    display: inline-block;
    margin: 0 auto;
  }

  .blog {
    padding: .5rem;
  }

  #dietpage {
    padding: 2.5rem;
  }


  h3 {
    margin-top: 0;
    padding-top: 3rem;
  }

  .duoDiet div {
    margin-top: 4rem;
  }

  .duoDiet a {
    color: blue;
  }

  .blog a {
    font-size: .8rem;
    display: block;
    padding-top: 1rem;
    text-align: right;
  }

  #basics {
    margin: 0rem 1.25rem 0rem 0rem;
  }

  .duoDiet {
    padding: 0rem 2rem 1rem 2rem;
    font-size: 1rem;
    line-height: 1.3rem;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.87);
    background-color: #fafafa;
  }

  #coreText {
    margin-top: 16rem;
    font-size: 48px;
    font-weight: 500;
  }

  #twoRow img {
   width: 140px;
  }
