html {
  font-size: 16px;
  font-family: sans-serif;
  color: #222;
  font-variant: normal;

}

body {
  margin: 0;
}

.clothes {
  display: block;
  margin: 0 auto;
}

.animation {
  width: 480px;
  display: block;
  margin: 0 auto;
}

footer > img {
  width: 100%;
  background-color: #fafafa;
  display: block;
  margin-bottom: 2rem;
}

footer a {
  background-color: #eee;
  padding: 2rem 4rem;
  display: block;
  margin: 4rem auto;
  text-align: center;
  max-width: 16rem;
  text-decoration: none;
  color: #333;
}

footer p {
  display: block;
  text-align: center;
  margin: 0 auto 1rem;
}

footer a:hover {
  background-color: #ccc;
  padding: 2rem 4rem;
  display: block;
  margin: 0 auto;
  text-align: center;
  max-width: 16rem;
  text-decoration: underline;
  color: #333;
}
