basic page styles*/

p {
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

body {
	margin: 0px;
	font-size: 16px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}


nav > a {
  margin: .75rem;
}

/*header styles*/
nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

	height: 5rem;
	width: 100%;
	background-color: #fafafa;

	margin-bottom: 6rem;
}

.goAway {
	background-color: rgba(0,0,0,.34);
}

.local {
	background-color: blue;
}

.deselected {
	opacity: .34;
}

.soundcloud {
	border-radius: 3rem;
}

.instagram {
	border-radius: 1rem;
}

.contact {
	border-radius: .5rem;
}

.other {
	border-radius: 1rem;
}



nav > a > div {
	height: 3rem;
	width: 3rem;
	margin-left: 1.5rem;
}

/*iMessage area*/

.conversations {
	clear: both;
	height: 100%;
}

h3 {
	display: inline-block;
}

.comment {
	width: 48%;
	min-height: 100px;
	color: white;
	clear: both;
	padding: 20px;
	margin: 40px;
}

.comment:hover {
	background-color: white;
	color: black;
}

footer {
	background-color: #eee;
	height: 100px;
	margin-top: 30px;
	text-align: center;

	padding: 10rem;
}

.ofNote {
	color: rgba(0,0,0,.14);
}


/*iMessage styles*/

.postColin {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.colin {
	background-color: #1AC800;
	padding-right: 15px;
	margin-right: 10px
}

.colin::before {
	content: "C";
	color: black;
	display: block;
	margin-bottom: 1rem;
	background-color: white
	padding: 2px;
	border-radius: 10px;
}

.postWill {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.will {
	background-color: #0078FE;
	padding-left: 15px;
	text-align: left;
}

.will::before {
	content: "W";
	color: black;
	display: block;
	margin-bottom: 1rem;
}

/*end iMESSAGE styles*/


/*start text styles*/
inter
p {
	text-align: left;
	font-size: 2.5rem;
}

.baby {
	color: #ccc;
	font-size: .75rem;
	text-align: left;
	font-style: italic;
	width: 50%;
	margin-left: 4rem;
}

.babyDark {
	color: #3a3a3a;
	font-size: .75rem;
	text-align: right;
	font-style: italic;
	font-weight: bold;
}

.quoteMark {
	font-size: 5rem;
	margin-top: 7rem;
}

.interNotes {
	font-size: 1.25rem;
  width: 60%;
}

.quoteMarkButton {
	font-size: 7.5rem;
	margin-bottom: 3rem;
	color: blue;
	text-decoration: none;
	text-align: right;
	display: block;
}

.quoteMarkButtonContainer {
	text-align: right;
	padding-right: 4rem;
	/*margin-right: 20rem;*/

}

.quoteMarkButton:visited {
	color: blue;
}


.quote {
	margin: 0rem 3rem .5rem;
}

.interviewFeed {
	padding: 5rem
}

/*mobile ish sizes*/
@media (max-width: 480px){
	nav > a > div {
		height: 1.5rem;
		width: 1.5rem;
		margin-left: .75rem;
}
	p {
		font-size: 1.25rem;
}

.interviewFeed {
	padding: 2rem 0rem 2rem 2.5rem;
}

	.baby {
		width: 65%;
		margin-left: 3rem;

}

	.babydark {
    color: #3a3a3a;
    font-size: 1.75rem;
    text-align: right;
    font-weight: bold;
}

	.interNotes {
		width: 95%;
}



	.quoteMarkButtonContainer {
    text-align: right;
    margin-right: 0rem;
}

	.quoteMarkButton {
	font-size: 4rem;

/*/*all you can eat styles*/
/**/

/*
.buffetTable {
	height: 65px;
	background-color: green;
	margin-bottom: 80px;

	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: row;
	-webkit-box-direction: row;
    -ms-flex-direction: crow;
    flex-direction: row;
	-ms-flex-pack: distribute;
	justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.wrap {
	margin: 40px 160px;
	margin-top: 0px;
	display: block;
}

.sideDish {
	float: right;
	width: 300px;
	height: 600px;
	/*box-shadow: rgba(0,0,0);*/
/*	margin-left: 80px;*/
}

.mainDish {
	width: 66%;
}

.meal {
	margin-top: 100px;
	margin-bottom: 50px;
	width: 100%;
	height: 800px;
}*/
