section {
  margin: 20px;
}

.intro img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex
}

.gallery img {
  max-height: 200px;
  margin: 20px;
}

.outfit {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 20%;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto;
}

button {
  background-color: #222;
  color: white;
  display: block;
  margin: 25px auto 100px auto;
  max-width: 400px;
  padding: 12px 16px;
  font-size: 16px;
  line-height: 16px;
  border: none;
}

button:hover {
  background-color: blue;
  text-decoration: underline;
}
